body{
    background: black;
}

h1{
    color: khaki;
    text-align: center;
}

#header{
    padding: 50;
    background: rgb(0, 0, 0);
    height: 100px;
    color: aqua;
    text-align: center;

}
.script{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* ou qualquer valor específico */
    height: 200px; /* ou qualquer valor específico */
    
}